@model IEnumerable<CrudProductos.Models.Venta>

@{
    ViewData["Title"] = "Ventas";
}

<h1>Historial de Ventas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FechaVenta)</th>
            <th>@Html.DisplayNameFor(model => model.Total)</th>
            <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
            <th>Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FechaVenta)</td>
                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Nombres)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>